<ul class="list-countries">
  <li class="item-container">
    <img src="{{flags.svg}}" alt="" class="flag" width="80" height="70" />
    <h1 class="country"> {{name}}</h1>
  </li>
  </li>
  <li class="item-container">
    <p class="capital"><span class="text">Capital: </span>{{capital}}</p>
  </li>
  <li class="item-container">
    <p class="population"><span class="text">Population: </span>{{population}}</p>
  </li>
  <li class="item-container"><span class="text">Languages:</span>
    <ul class="item-list"">
                {{#each languages}}
                <li class=" languages">
      {{name}};
  </li>
  {{/each}}
</ul>
</li>
</ul>